.layout {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 880px;
    background-color: #fff;
}
