@import '~antd/dist/antd.css';

body {
    background-color: #f4f5f5;
}

hr {
    background-color: #e5e5e5;
    height: 1px;
    border: 0;
}
#root {
    height: 100%;
}
#app {
    height: 100%;
}

.test {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #e4e6eb;
    padding: 16px 20px;
}
